.blogform {
    max-width: 1200px;
    border-radius: 5px;
    padding: 32px 38px;
    margin: 50px auto;
   
  }
  
  .formLabel {
    font-size: 20px;
    display: block;
    margin-bottom: 2px;
    text-transform: capitalize;
    letter-spacing: 2px;
  }
  
  .formInput,
.formTextarea {
  width: 100%;
  padding: 5px;
  border-radius: 5%;
  background: whitesmoke;
  border: 3px solid black;
}

.formTextarea {
  height: 50px;
}


  #msg {
    visibility: hidden;
    margin-top: 20px;
    font-weight: 500;
    height: 20px;
    font-size: 20px;
  }
  
  #msg.success,
  #msg.error {
    visibility: visible;
  }
  
  #msg.success {
    color: #340468;
  }
  
  #msg.error {
    color: red;
  }
  
  ::placeholder {
    font-family: Arial, Helvetica, sans-serif;
    color: #7fddf0;
  }
   /* =Media=*/
 @media screen and (max-width: 768px) { */
    main,
    nav, footer, .links {
      flex-direction: column;
      align-items: center;
    }
  
    .image {
      display: flex;
      clip-path: circle(40%);
      min-height: 350px;
    }
  
    .image h1 {
      display: flex;
      text-align: center;
      left: 12px;
    }
}